<%= simple_form_for(@usuario) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :cod %>
    <%= f.input :nombre %>
    <%= f.input :apellido %>
    <%= f.input :dni %>
    <%= f.input :legajo %>
    <%= f.input :nacim %>
    <%= f.input :mail %>
    <%= f.input :direccion %>
    <%= f.input :telefon %>
    <%= f.input :celular %>
    <%= f.input :observacion %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
