<p id="notice"><%= notice %></p>

<p>
  <b>Cod:</b>
  <%= @usuario.cod %>
</p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @usuario.apellido %>
</p>

<p>
  <b>Dni:</b>
  <%= @usuario.dni %>
</p>

<p>
  <b>Legajo:</b>
  <%= @usuario.legajo %>
</p>

<p>
  <b>Nacim:</b>
  <%= @usuario.nacim %>
</p>

<p>
  <b>Mail:</b>
  <%= @usuario.mail %>
</p>

<p>
  <b>Direccion:</b>
  <%= @usuario.direccion %>
</p>

<p>
  <b>Telefon:</b>
  <%= @usuario.telefon %>
</p>

<p>
  <b>Celular:</b>
  <%= @usuario.celular %>
</p>

<p>
  <b>Observacion:</b>
  <%= @usuario.observacion %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
