<p id="notice"><%= notice %></p>

<p>
  <b>Persona codigo:</b>
  <%= @prestamo_instrumento.persona_id %>
</p>

<p>
  <b>Instrumento codigo:</b>
  <%= @prestamo_instrumento.instrumento_id %>
</p>

<p>
  <b>Responsable codigo:</b>
  <%= @prestamo_instrumento.responsable_id %>
</p>


<%= link_to 'Edit', edit_prestamo_instrumento_path(@prestamo_instrumento) %> |
<%= link_to 'Back', prestamo_instrumentos_path %>
